.Modal {
  position: absolute;
  top: 20%;
  left: 20%;
  right: 60%;
  bottom: 20%;
  border-style: solid;
}

.BotButtonOn {
 
  width: 7%;
  cursor: pointer;
  position: fixed;
}
  

.BotButtonOff {
  display: none;
  }
